{##
 # Copyright © PureClarity. All rights reserved.
 # See LICENSE.txt for license details.
 #
 # Separator field
 #}
<h4 id="{{ this.getFieldId() }}" data-name="{{ this.getName() }}">
{{ t(this.getLabel()) }}
{% if this.hasHelp() %}
  {{ widget('\\XLite\\View\\Tooltip', text=t(this.getParam('help')), helpWidget=this.getParam('helpWidget'), isImageTag='true', className='help-icon') }}
{% endif %}
</h4>
