{##
 # Copyright © PureClarity. All rights reserved.
 # See LICENSE.txt for license details.
 #
 # PureClarity settings page
 #}

<div class="pureclarity-settings-page">
    {{ widget('XLite\\View\\Model\\Settings') }}
</div>