{##
 # Copyright © PureClarity. All rights reserved.
 # See LICENSE.txt for license details.
 #
 # Dashboard - signup widget
 #}
<div id="pureclarity-feeds-form">
    <p class="pc-bottom-buffer">{{ t('Full data feeds will be sent nightly. If you need to send a full feed sooner, please use the form below.') }}</p>
    <p class="pc-bottom-buffer">{{ t('Please select the data you would like to send to PureClarity:') }}</p>
    {{ widget('\\XLite\\Module\\PureClarity\\Personalization\\View\\Model\\Admin\\Dashboard\\Feeds') }}
</div>