{##
 # Copyright © PureClarity. All rights reserved.
 # See LICENSE.txt for license details.
 #
 # Dashboard - signup widget
 #}
<div id="pureclarity-signup-form">
    {{ widget('\\XLite\\Module\\PureClarity\\Personalization\\View\\Model\\Admin\\Dashboard\\Signup') }}
</div>